on:
  push:
    branches:
    - main
  pull_request:

# Keeping this file separate as the dependencies check would use more
# repositories than needed this downstream check for GraalVM native image and
# other Maven plugins.
name: downstream
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [8, 11]
        repo:
        - java-bigquery
        - java-bigtable
        job-type:
        - test  # maven-surefire-plugin
        - clirr # clirr-maven-plugin
        - javadoc # maven-javadoc-plugin
        - javadoc-with-doclet # test javadoc generation with doclet
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
    - uses: actions/setup-java@v4
      with:
        distribution: zulu
        java-version: ${{matrix.java}}
    - run: java -version
    - run: sudo apt-get update -y
    - run: sudo apt-get install libxml2-utils
    - run: .kokoro/client-library-check.sh ${{matrix.repo}} ${{matrix.job-type}}
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [17, 21]
        repo:
        - java-bigquery
        - java-bigtable
        job-type:
        - lint  # fmt-maven-plugin and google-java-format
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
    - uses: actions/setup-java@v4
      with:
        distribution: zulu
        java-version: ${{matrix.java}}
    - run: java -version
    - run: sudo apt-get update -y
    - run: sudo apt-get install libxml2-utils
    - run: .kokoro/client-library-check.sh ${{matrix.repo}} ${{matrix.job-type}}
  javadoc-with-doclet:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        repo:
        - java-bigtable
        - java-bigquery
        - java-storage
        - java-storage-nio
        - java-spanner
        - java-spanner-jdbc
        - java-pubsub
        - java-pubsublite
        - java-logging
        - java-logging-logback
        - java-firestore
        - java-datastore
        - java-bigquerystorage
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
    - run: java -version
    - run: sudo apt-get update -y
    - run: sudo apt-get install libxml2-utils
    - run: .kokoro/client-library-check-doclet.sh ${{matrix.repo}}
